body{
    background: #e1695f;
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    text-align: center;
}

.clock-title{
    padding-top: 2%;
}

.clock-time{
    font-size: 2em;
    padding-top: 15px;
}

.clock-photo{
    padding-top: 10px;

}

.clock-alarm{
    text-align: center;
}

h1{
    font-family: 'Bungee Shade', cursive;
}

#coolimages{
    max-width: 45em;
    opacity: 1;
    transition: opacity 1s;
}

#coolimages.fadeOut {
    opacity:0;
}

blockquote {
    font: 2em/1em 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #000;
    margin: -90px 0 100px 0;
    color: #fff;
  }
/*
blockquote:before { content: '"'; }
blockquote:after { content: '"'; }
*/

#startButton {
    background-color: #222;
    width: 300px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
    cursor: pointer;
  }

#btn_disabled {
    background-color: rgb(122, 122, 122);
    width: 300px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
  }